#no-javascript  {
  color: #F00;
  font-size: 110%;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

.login-view {
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  display: none;
}
.login-view form  {
  margin-top: 2.5rem;
}
.login-error  {
  font-weight: 600;
  text-align: center;
  line-height: 3rem;
  border: 1px solid #E1E1E1;
  background-color: #FF9696;
  margin-bottom: 1.5rem;
  display: none;
}
.signup-link  {
  float: right;
  line-height: 38px;
}

#status-view  {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.status-field {
}
.status-field img {
  height: 18px;
  vertical-align: top;
}
.happy-state  {
  color: green;
}
.sad-state  {
  color: red;
}
