#no-javascript  {
  color: #f00;
  font-size: 110%;
  text-align: center;
}

#loading-view {
  margin-top: 100px;
  text-align: center;
}

#main-view  {
  display: none;
}
#header {
  line-height: 30px;
  background-color: #F8F8F8;
  border: 2px solid #D1D1D1;
  border-radius: 5px;
  margin-top: .5rem;
}
#header span  {
  margin: 0 1rem;
}

#message-view  {
  margin: .5rem auto .5rem;
  background-color: #F8F8F8;
  border: 2px solid #D1D1D1;
  border-radius: 5px;
  padding-top: .5rem;
  overflow: auto;
}
.message-bubble  {
  border: thin solid gray;
  border-radius: 8px;
  margin: .6rem 1rem;
  padding: .4rem 1rem;
  max-width: 60%;
  /*background-color: #F7E285;*/
  /*background-color: #94CB54;*/
  /*background-color: #FC4E4E;*/
  background-color: #E8875A;
}
.message-bubble-head {
  font-size: 90%;
  line-height: 100%;
}
.message-bubble-body {
  font-size: 105%;
  text-align: left;
}
.message-not-acked  {
  background-color: #DCDCDC;
}

.date-line  {
  width: 100%;
  text-align: center;
}
.date-line span {
  margin: 0 2%;
  vertical-align: middle;
}
.date-line hr {
  width: 35%;
  vertical-align: middle;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 0;
  border-top: 1px solid #000;
}

#footer {
  background-color: #F8F8F8;
  border: 2px solid #D1D1D1;
  border-radius: 5px;
  margin-bottom: 1rem;
}
#footer form  {
  margin-bottom: 0;
}
#message-input  {
  margin: 1rem auto 1rem .4rem;
  width: 84%;
}
#message-send {
  margin: 1rem .4rem 1rem auto;
  width: 14%;
}
