html, body  {
  overflow: hidden;
}

.element-container {
  background-color: #F8F8F8;
  border: 2px solid #D1D1D1;
  border-radius: 5px;
  padding: 0 1rem;
  margin-top: .5rem;
}

#no-javascript  {
  color: #f00;
  font-size: 110%;
  text-align: center;
}

#loading-view {
  margin-top: 100px;
  text-align: center;
}

#error-view {
  margin-top: 1rem;
  text-align: center;
  font-size: 105%;
  display: none;
}

#user-list  {
  font-size: 105%;
  text-align: right;
  margin-left: .5rem;
  max-width: 20%;
  padding: 1rem 1.5rem;
  display: none;
}
.user-online {
  color: #2CCE20;
  font-weight: thin;
}
.user-offline  {
  color: #F00;
  font-weight: thin;
}

#settings  {
  display: none;
}
#settings * {
  margin-bottom: .4rem;
}
#settings label {
  font-size: 92%;
}
#settings input, select {
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
  min-width: 80%;
}
.color-field  {
  width: 26px;
  height: 26px;
  display: inline-block;
  border: 2px solid transparent;
}
.active-color-field {
  border: 2px solid #000;
}

#main-view  {
  display: none;
}
#header {
  line-height: 30px;
}

#message-view  {
  overflow: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#load-earlier-messages  {
  width: 100%;
  text-align: center;
  font-size: 95%;
  margin-bottom: 1rem;
}
#load-earlier-messages img  {
  width: 23px;
  height: 23px;
  vertical-align: top;
  display: none;
}
.message-bubble  {
  border: thin solid gray;
  border-radius: 8px;
  padding: .4rem 1rem;
  margin-bottom: .6rem;
  max-width: 60%;
}
.message-bubble-head {
  font-size: 90%;
  line-height: 100%;
}
.message-bubble-body {
  font-size: 102%;
  font-weight: 600;
}
.message-bubble-body a  {
  color: #000;
}
.message-not-acked  {
  background-color: #DCDCDC;
}
.video-embed  {
  margin: 1rem 0;
  font-weight: normal;
  line-height: 95%;
  text-align:center;
}

.date-line  {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.date-line hr {
  width: 15%;
  vertical-align: middle;
  display: inline-block;
  margin: .5rem 2rem;
  border-width: 0;
  border-top: 1px solid #000;
}

.error-message  {
  font-size: 104%;
  padding: 1rem 0;
  color: #F00;
}

#footer {
  margin-bottom: 1rem;
}
#footer form  {
  margin-bottom: 0;
}
#message-input  {
  margin: 1rem auto 1rem .4rem;
  width: 84%;
}
#message-send {
  margin: 1rem .4rem 1rem auto;
  width: 14%;
}
